// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "stack";
@import "typography";
@import "sections/sections";

body {
  background: $dark;
}

#page {
  background: $white;
}

section {

  &.bg {

    &--none {
      background-color: #fff;
      ::-moz-selection {
        color:$white;
        background: $primary;
        padding:10px;
       }
      ::selection {
        color:$white;
        background: $primary;
        padding:10px;

       }
    }

    &--light {
      background-color: $light;
      ::-moz-selection {
        color:$light;
        background: $primary;
       }
      ::selection {
        color:$light;
        background: $primary;
       }
    }

    &--dark {
      background-color: $dark;
      ::-moz-selection {
        color:$dark;
        background: $primary;
      }
      ::selection {
        color:$dark;
        background: $primary;
       }
      * {
        color: #fff;
      }
    }

    &--primary {
      background-color: $primary;
      ::-moz-selection {
        color:$primary;
        background: $white;
       }
      ::selection {
        color:$primary;
        background: $white;
      }
      .btn{
        &--solid {
          background: $white;
          color: $primary;

          &:hover {
            background: darken($white, 10%);
            color: $primary;
          }
        }
      }
      * {
        color: #fff;
      }
    }


  }

  &.imagebg{

    ::-moz-selection {
      color:$primary;
      background: $body-color;
    }
    ::selection {
      color:$primary;
      background: $body-color;
    }

    .btn{
        &--solid {
          background: $white;
          color: $primary;

          &:hover {
            background: darken($white, 10%);
            color: $primary;
          }
        }
  }
}

  &.space {

    &--none {
      padding: 0;
    }

    &--sm {
      padding: 25px 0;
    }

    &--md {
      padding: 50px 0;
    }

    &--lg {
      padding: 100px 0;
    }

    &--xlg {
      padding: 200px 0;
    }

  }

  &.bg-effect {
    &--ken-burns{
        overflow: hidden;
      & > .background-image-holder,
      & > img:only-child {
        animation: kenBurns 15s ease alternate infinite;
        -webkit-animation: kenBurns 15s ease alternate infinite;
      }
    }
  }

}

.space-below {

  &--none {
    margin-bottom: 0;
  }

  &--sm {
    margin-bottom: 25px;
  }

  &--md {
    margin-bottom: 50px;
  }

  &--lg {
    margin-bottom: 100px;
  }

  &--xlg {
    margin-bottom: 200px;
  }

}

.flippable {
  display: flex;
  align-items: center;

  &__text {
    order: 1;
  }

  &__image {
    order: 2;

    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }
  }


  &--flip {
    .flippable__text {
      order: 2;
    }

    .flippable__image {
      order: 1;

    }
  }

  @include media-breakpoint-down(sm) {
    &__text {
      order: 2;
    }

    &__image {
      order: 1;
    }
  }
}



.buttons {
  margin-top: 20px;
}

.btn {
  font-size: 0.825em;
  font-weight: 700;
  font-family: $isidora-bold;
  text-transform: uppercase;
  color: $primary;
  padding: 0.8em 1.6em;
  border-radius:0;

  &--solid {
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary, 10%);
      color: $white;
    }
  }

  &--outline {
    background: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background: $primary;
      color: $white;
    }
  }

  &--link {
    background: transparent;
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }

    &:focus {
      box-shadow: none;
    }

    &:first-of-type {
      padding: 0.8em 0em;
    }
  }

}

.cta {

  &__buttons {
    text-align: right;

    .buttons {
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      text-align: left;
      margin-top: 30px;
    }
  }

}

.page-header {

  &--home {
    padding: 150px 0 150px;
  }

  padding: 200px 0 100px;
  background-color: $dark;

  @include media-breakpoint-down(sm) {
    padding: 150px 0 50px;
  }
}

.work-tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.project-thumb {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;

  @include media-breakpoint-down(sm) {
    padding-bottom: 100%;
  }

  * {
    transition: 0.2s;
  }

  &--large {
    width: 100%;

  }

  &--small {
    width: 50%;


    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__title {
  padding: 1.85714286em;
  z-index: 2;
  position: absolute;
  bottom:0;

    & * {
      color: #fff;
    }
  }

  &:hover .background-image-holder {
    transform: scale(1.1);
  }
}

.blog-feed {
  background-color: $light;
}

.blog {
  display: block;
  margin-bottom: 30px;
  background-color: $white;
  height: calc(100% - 30px);

  * {
    transition: 0.2s;
  }

  &:hover {
    text-decoration: none;
  }

  &__thumb {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 66%;

    &:hover .background-image-holder {
      transform: scale(1.1);
    }
  }

  &__content {

    padding: 30px;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

  }
}

.related-posts {
  background: $light;
}

.full-size {
  right:0;
  bottom:0;
	position: absolute;
	top : 0;
	left : 0;
}
.blend-multiply {
  mix-blend-mode : overlay;
}

.blend-screen {
	mix-blend-mode : screen;
}

.mask-bg-color {
  background-color:#000;
  .background-image-holder{
    filter:blur(10px);
  }
}

.animated-bg {
	background-position:center;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
  background-size:cover;
  .background-image-holder{
    filter: blur(0px);

  }
}
.element-mask {
  filter: blur(0px);
  background:#fff;
}

#circle{
  position:absolute;
}

.circle-follow {
	position :absolute;
	overflow : hidden;
	background-color: #000000;
	width :240px;
	height: 240px;
    top:0;
    left:0;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
    transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
    opacity : 0;
    filter:blur(10px);
}
.circle-follow::before  {
	content : ' ';
	height : 100%;
	width : 100%;
	position: absolute;
	top : 0;
	left : 0;
}

.circle-follow.moving {
	opacity : 1;
}


/* hack to detect ie11 and above - blend mode not supported */
_:-ms-fullscreen, :root .letter-mask {background-color: transparent; }
_:-ms-fullscreen, :root .animated-bg {opacity: 0.2;}
_:-ms-fullscreen, :root .circle-follow {background-color:#ffffff; opacity: 0.2; }

.contain{
  height:100%;
  background-color:#000;
}

.slider{
  margin-bottom:0em !important;
}


.flickity-viewport{
  overflow:hidden;
  & .is-pointer-down{
    -webkit-tap-highlight-color: transparent; /* for remove highlight */
  }
}


li{
  list-style:none;
}

.boxed--border{
  .slider{padding-top:1rem;}
}

.slide{
  margin-left:30px;
  margin-right:30px;
  margin-bottom:30px;
}

.flickity-page-dots{
  position: absolute;
  width: 100%;
  bottom: 0px !important;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  left:0;
  .dot{
    display:inline-block;
    opacity:0.6;
    &.is-selected{
      opacity:1;
    }
  }
}

.flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
  &.is-pointer-down{
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
}

.flickity-enabled{
  &.is-draggable {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:0;
  }
  &:focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    outline: none!important;
  }
}

.feature{
  padding:20px;
  background-color:#fff;
  & h5{
    margin-bottom:1em;
  }
  p{
    min-height:0;
  }
}

.box-shadow-wide{
  box-shadow:0 12px 20px rgba(0, 0, 0, 0.2);
}

.modal-instance{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

canvas{
  z-index:0;
  position:absolute;
  top:0;
}

.page-header{
  .container{
    z-index:3;
  }
}

.line{
  &-container{
    padding:180px 0px;
  &--before{
    position:absolute;
    display:block;
    content:"";
    width:1px;
    height:140px;
    left:50%;
    top:-20px;
    transform: translateX(-50%);
    background-color:white;
  }
  &--after{
    content:"";
    position:absolute;
    display:block;
    width:1px;
    height:140px;
    left:50%;
    transform: translateX(-50%);
    bottom:-20px;
    background-color:white;
  }
}
}

.fa-arrow-down{
  display:block;
  z-index:3 !important;
  font-size:2rem;
  color:#fff;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:40px;
}

.zoomimg{
      &:hover{
    overflow: hidden;
    & > .background-image-holder,
    & > img:only-child {
      background-position: 25% 25% !important;
      transition: 1.2s ease;
      transform: scale(2.2);
    }
    .overlay{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      background-color:#000;
      opacity:0.6;
      pointer-events: none;
      transition: 1.2s ease;
      z-index:1 !important;
    }
  }
  overflow: hidden;

  & > .background-image-holder,
    & > img:only-child {
      background-position: 25% 25% !important;
      transition: 1.2s ease;
      transform: scale(2);
    }
    .overlay{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      background-color:#000;
      opacity:0.4;
      pointer-events: none;
      transition: 1.2s ease;
      z-index:1 !important;

    }
}

.text{
  *{
  z-index:3 !important;
  }
  //pointer-events: none;
  & a{
    position:relative;
    color:$primary !important;
    &:before{
      content:"";
      width:0px;
      height:2px;
      position:absolute;
      bottom:-4px;
      left:50%;
      background-color:$primary;
      display:block;
      transition:200ms ease;
    }
    &:hover{
      &:before{
        content:"";
        left:0%;
        width:100%;
      }
    }
  }
}




// Preloader code

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,1);
  z-index : 10;
}

.percentage {
  z-index: 100;
  border: 1px solid #ccc;
  text-align:center;
  color: #fff;
  line-height: 30px;
  font-size : 15px;
}


.trackbar {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  width: 0%;
  height: 100%;
  background-color:$primary;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index:9;
}


.loader{
  animation:none;
  border-radius:0;
  height:4px;
  width:100%;
  left:0;
  bottom:0;
  margin:0;
  opacity:1;
  border:none;
  top:auto;
}


.svgpath{
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  opacity:0;
}

.leftborder{
  border-left:4px solid $primary;

}

.modal-instance{
  width:auto;
  display:block;
}

.feature-column__image{
  @media (max-width: 768px) {
    width:100%;
  }
}

.col-sm-4{
  @media(max-width:768px){
    padding:15px;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.owl-dots{
  position:absolute;
  bottom:1em;
  left:2em;
  z-index:4 !important;
  .owl-dot{
    width:3em;
    height:0.1em;
    background-color:#fff !important;
    margin: 0.5em;
    &.active{
      background-color:$primary !important;
    }
  }
}

.owl-stage-outer{
  min-height:100%;
}

.owl-nav{
  position:absolute;
  right:0;
  bottom:0;
  z-index:4 !important;
  button{
    background-color:$primary !important;
    width:3rem;
    height:3rem;
    color:#fff !important;
  }
}

.owl-carousel {
  position: relative;
  height: 100%;

  .owl-stage{
  }

  .owl-item {
    .background-image-holder{
      width:100%;
    img {
      display:none;
      }
    }
  }
}

.page-header{
  &::before{
    z-index:3;
  }
}

._container{
  position: relative;
  z-index:4 !important;
}

@media (min-width: 1200px){
  ._container {
      max-width: 1140px;
      margin:auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px){
  ._container {
      max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width:992px){
  ._container {
      max-width: 720px;
  }
}
@media (min-width: 576px) and (max-width:768px){
  ._container {
      max-width: 540px;
  }
}

.product-tile {
  margin: 1em 0;
  position: relative;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  height: calc( 100% - 2em);
  display: flex;
  flex-direction: column; 
  transition: 0.2s;
   * {
    transition: 0.2s;
   }
   &__link {
     position: absolute;
     top: 0;
     left:0;
     right:0;
     bottom:0;
   }
  &__image {
    padding-bottom: 66%;
    position: relative; 
    overflow: hidden;
  }
  &__content {
    padding: 1.5em; 
  }
  & .btn {
    margin-top: auto;
    padding-left: 0;
    padding-right: 0; 
  }
  .background-image-holder {

  }

    &:hover {
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
      .background-image-holder {
        transform: scale(1.1);
      }
    }
  }

.product-controls {
  margin-bottom: 50px; }
  .product-controls button {
    font-size: 0.825em;
    line-height: 1;
    font-weight: 700;
    font-family: "Isidora Sans Bold", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #ef0d33;
    padding: 0.8em 1.6em;
    border-radius: 0;
    background: transparent;
    color: #ef0d33;
    border: 1px solid #ef0d33;
    transition: 0.2s; }
    .product-controls button:hover {
      background: #ef0d33;
      color: #fff; }
    .product-controls button.mixitup-control-active {
      background: #ef0d33;
      color: #fff; }
      .product-controls button.mixitup-control-active:hover {
        background: #bf0a29;
        color: #fff; }

.panel {
  border-top: 1px solid #e9ecef;
  padding: 10px 10px 0; 

  &-heading {
    padding-right: 40px;
  }
  &:last-of-type {
    border-bottom: 1px solid #e9ecef; }
  & .panel-title {
      a {
      color: #ef0d33;
      transition: 0.2s;
      display: block;
      position: relative; 
      }
      &:hover {
        color: #bf0a29; 
      }

    }
  }

  .panel-title .collapsed svg {
    position: absolute;
    right: -40px; 
      -webkit-transform: rotate(0deg);
      -moz-transform:    rotate(0deg);
      -ms-transform:     rotate(0deg);
      -o-transform:      rotate(0deg);
      transform:         rotate(0deg);
    transition: 0.2s;
  }
  .panel-title svg {
    position: absolute;
    right: -40px; 
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      transform:         rotate(45deg);
      transition: 0.2s;
  }
  

.team {

  margin: 15px 0;

  &__image {
    position: relative;
    width: 100%;
    padding-top: 100%;
    height: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  &__link {
    color: $primary;
    transition: 0.2s;
    font-family: $isidora-bold;
    text-transform: uppercase;
    &:hover {
      color: darken($primary,10%);
    }
  }
}

.feature-column__icon--center{
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.entry{
  &-title{

  }
  &-meta{
    *{
    font-size:12px;
    }
  }
}

.pagination{

  li{
    list-style-type:none;
  }
  span a{
    line-height:1;
  }

  a{
      color:$primary;

  }
}


.entry-title{
  a{
  color:$primary;
  }
  padding: 0.5em 0;
}

.pag-nav{
  margin:auto;
}

.pricing_table{
  &--small{
    @media screen and (max-width:992px) {
      display:block;
    }
    display:none;
  }
  &--large{
    @media screen and (max-width:992px) {
      display:none;
    }
    display:block;
  }
}

.select{
  &__filter{
  background-color:#fff;
  border: 1px solid #D8D8D8;
  color:$dark;
  font-family: $isidora-bold;
  border-radius:0;
  min-width:280px;
}
&__chevron{
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  pointer-events: none;
}

}
.image {

  position: relative;
  height: 0;
  overflow: hidden;

  &--square {
    padding-top: 100%;
  }

  &--landscape {
    padding-top: calc((2 / 3) * 100%);
  }

  &--portrait {
    padding-top: calc((3 / 2) * 100%);
  }

  &__caption {
    margin: 1em 0;
  }
}

