.feature-column {

    margin: 15px 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  
  
    &__image, &__icon {
      margin-bottom: 30px;
    }
  
    &__icon {
        max-width: 70px;
        max-height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
 
    
      &--container{
        position:relative;
        height:70px;
        width: 70px;
        margin-bottom:20px;
      }
    }
  
    &__fa-icon {
      color: $primary;
      margin-bottom: 20px;
      width: 70px;
      height: 70px;
      position:relative;
  
      svg {
        color: $primary;
        height: auto;
        font-size: 3.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        path {
            color: $primary;
        }
      }
    }

    &--side-icon {
        position: relative;
        .feature-column__icon, .feature-column__icon--container, .feature-column__fa-icon {
            position: absolute;
        }
        .feature-column__text {
            padding-left: 90px;
        }
    }

    &--centered {
        text-align: center;
        .feature-column__fa-icon, .feature-column__icon, .feature-column__icon--container {
            margin-left: auto;
            margin-right: auto;
        }
    }
  }
  
  .feature-card {
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.05);
    padding: 2em;
    background-color:$white;
    height:100%;
    
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  
  
    &__image, &__icon {
      margin-bottom: 30px;
    }
  
    &__icon {
      max-height: 70px;
      max-width:70px;
      margin:0em auto;
      position:absolute;
      top:50%;
      transform:translate(-50%, -50%);
      left:50%;
        &--container{
        position:relative;
        margin:auto;
        margin-bottom:30px;
        display:flex;
        height:70px;
        flex-direction:column;
        justify-content: center;
        align-items:flex-start;
        }
    }
  
   
  }
  
  
  .bg--dark .feature-card {
    background-color: rgba(255, 255, 255, 0.1); }
  
  